<app-header></app-header>
<section class="top_banner">
  <div class="container">
    <div class="row">
      <p class="text-center all_book_p">All Books in store</p>
    </div>
  </div>
</section>
<section style="margin-top: -50px">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-md-offset-2 content">
        <div>
          <div*ngFor="let book of books" class="book_url_li">
            <a class="book_url_a" routerLink="/book/{{book._id}}"> {{ book.title }} </a>
            <div class="written_by">Written by {{ book.author }}</div>
        </div>
      </div>
    </div>
  </div>
  <!--   </div>
  </div> -->
</section>
