<ng-progress [showSpinner]="false" [thick]="false"></ng-progress>
<div class="header">
  <nav class="navbar navbar-default main-navigation" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo" routerLink="/">BooKiSh</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/" [class.activated]="currentUrl == '/'"><i class="lnr lnr-enter"></i> Home </a></li>
          <li><a routerLink="/add" [class.activated]="currentUrl == '/add'"><i class="lnr lnr-user"></i> Add book</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
