<app-header></app-header>
<!-- <section class="top_banner">
  <div class="container">
    <div class="row">
      <p class="text-center all_book_p">Add a book resource</p>
    </div>
  </div>
</section> -->
<section id="intro" class="section-intro">
  <div class="overlay">
    <div class="container">
      <div class="main-text">
        <h1 class="intro-title"> Add a book to the store </h1>
      </div>
    </div>
  </div>
</section>
<section>
  <section id="content" style="margin-top: -100px;">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-9 col-md-offset-2 content">
          <div class="page-ads box">
            <!-- <h2 class="title-2">
          Add a book resource!!
          </h2> -->
            <div *ngIf="error"> An error occured, please try again </div>
            <form class='' enctype="multipart/formdata" [formGroup]="addbookform" (ngSubmit)="addBook(addbookform.value)">
              <div class="form-group">
                <label>Title</label>
                <input class="form-control" formControlName="title" placeholder="Title of book" type="text" required>
              </div>
              <div class="form-group">
                <label>Author</label>
                <input class="form-control" formControlName="author" placeholder="Authors name" type="text" required>
              </div>
              <div class="form-group">
                <label>Year of production</label>
                <input class="form-control" formControlName="year" placeholder="Year of production" type="text" required>
              </div>
              <div class="form-group">
                <label>Number of pages</label>
                <input class="form-control" formControlName="no_of_pages" placeholder="Number of pages" type="text" required>
              </div>
              <div class="form-group">
                <label>Description</label>
                <textarea formControlName="description" class="form-control" rows="4" required></textarea>
              </div>
             <!-- <div class="form-group">
  <label>Category</label>
  <select class="form-control" required formControlName="category">
    <option value="">Select a category</option>
    <option value="novel">Novel</option>
    <option value="text">Text</option>
  </select>
</div>
 -->
              <div class="form-group">
                <label>Genre</label>
                <select class="form-control" required formControlName="genre">
                  <option value="">Select a genre</option>
                  <option value="fictional">fictional</option>
                  <option value="classical">classical</option>
                  <option value="romantic">romantic</option>
                </select>
              </div>
              <button class="btn btn-success btn-style" type="submit" [disabled]="!addbookform.valid || loading">
                <span *ngIf='!loading'> Add Book  </span>
                <span *ngIf='loading'> Processing ...  </span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
